@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1147px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.header ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}
.header .title {
  color: rgb(68, 68, 68);
  margin: 2rem 0;
}

.board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  perspective: 1000px;
}
.card {
  width: 150px;
  height: 100px;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: transparent;
  backface-visibility: hidden;
  display: block;
}

.front-face {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}

.controls {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
  padding: 4px;
}
.btn-start {
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: rgb(5, 160, 83);
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
}
.btn-start:hover {
  background-color: rgb(3, 74, 167);
}

.template-game-over {
  color: #e74c3c;
  font-size: 1.6rem;
  font-weight: bold;
}

/*#### utilitarios #####*/

.bg-red {
  background-color: #e74c3c;
}
.bg-blue {
  background-color: #3498db;
}

.bg-green {
  background-color: #2ecc71;
}

/*#### Responsivo #####*/
@media (max-width: 550px) {
  .card {
    width: calc(90% / 3);
    height: 90px;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  body {
    display: block;
  }

  .board {
    padding: 8px;
  }
}
