@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --green: #3ce789;
  --blue: #3498db;
  --red: #e74c3c;

  --text-color: #fffefe;
  --bg-body: #fff;
  --bg-modal: #fff;
}

body {
  background-image: url("/images/bg-board.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

img {
  max-width: 100%;
  width: 100%;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1147px;
  margin: 0 auto;
}

.btn {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
}

.btn-green {
  color: #fff;
  background-color: var(--green);
}

.btn-blue {
  color: #fff;
  background-color: var(--blue);
}

.bg-red {
  background-color: #e74c3c;
}
.bg-blue {
  background-color: #3498db;
}

.bg-green {
  background-color: #2ecc71;
}

/*############
#### APP #####
##############
*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  color: var(--text-color);
}

.header .title {
  margin: 2rem 0;
}

.board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  perspective: 1000px;
}
.score-box {
  margin-bottom: 1rem;
  color: var(--text-color);
  font-size: 1.2rem;
}
.score-box ul {
  display: flex;
  gap: 3rem;
}
.card {
  width: 150px;
  height: 100px;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: transparent;
  backface-visibility: hidden;
  display: block;
}

.front-face {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}

.controls {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  padding: 4px;
}

.template-game-over {
  color: #e74c3c;
  font-size: 1.6rem;
  font-weight: bold;
}
.template-winer-game {
  color: #3ce789;
  font-size: 1.6rem;
  font-weight: bold;
}
.modal-instruction {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  position: absolute;
  background-color: var(--bg-modal);
  top: 10rem;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  z-index: 1;
  animation: topDown 0.5s ease-in;
}
.modal-instruction.remove {
  display: none;
}

@keyframes topDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-instruction p {
  margin: 1rem 0;
  line-height: 1.6rem;
}

/*#### Responsivo #####*/
@media (max-width: 550px) {
  .card {
    width: calc(90% / 3);
    height: 90px;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  body {
    display: block;
  }

  .board {
    padding: 8px;
  }
  .header .title {
    font-size: 1.3rem;
  }
  .template-game-over,
  .template-winer-game {
    font-size: 1rem;
  }
}
